* {
  box-sizing: border-box;
}

body {

font-size: 24px;
line-height: 32px;
background-color: white;

}

header {
	font-size:24px;
    height:80px;
    background:#F0F0F0;
    border:1px solid #CCC;
}

.contact{

	float:left;
	width: 40%;
	background-color:#a1a2a3;

}

.connect{

float:left;
width: 30%;
background-color:#757575;

}

footer{

padding: 5px;
border-top-style: solid;
border-width: 3px;
border-color:#738cb5;
clear:both;
font-size: 12px;
text-align:center;

}